section{
    background-color: #1abc9c;
}
.height{
    height: 80vh;
}
i{
    margin-top: 6px;
}
h2{
    position: relative;
}
h2::after{
    content:"";
    position: absolute;
    left: 56%;
    bottom: -60%;
    width: 90px;
    height: 3px;
    background-color: rgb(255, 255, 255);
}
h2::before{
    content:"";
    position: absolute;
    bottom: -60%;
    right: 55%;
    width: 90px;
    height: 3px;
    background-color: rgb(255, 255, 255);
}
p{
    max-width: 550px;
}
@media screen and (min-width: 400px) and (max-width: 700px)  {
    i{
        margin-top: 2px;
    }
}
