<section>
    <div class="container pt-5">
        <div class="d-flex justify-content-center align-items-center flex-column height">
            <div class="d-flex justify-content-center align-items-center flex-column mb-4">
                <h2 class="text-uppercase text-white mt-1">about component</h2>
                <i class="fa-solid fa-star ms-1 text-white"></i>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-6 g-4">
                    <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
                </div>
                <div class="col-12 col-md-6 col-lg-6 g-4">
                    <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
                </div>
            </div>
        </div>
    </div>
</section>
