<footer>
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center g-3">
                <h3 class="text-white">LOCATION</h3>
                <p class="text-white location text-center">2215 John Daniel Drive Clark, MO 65243</p>
            </div>

            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center g-3">
                <h3 class="text-white">AROUND THE WEB</h3>
                <ul class="d-flex list-unstyled">
                    <li class="me-1 text-white "><i class="fa-brands fa-facebook"></i></li>
                    <li class="me-1 text-white "><i class="fa-brands fa-twitter"></i></li>
                    <li class="me-1 text-white "><i class="fa-brands fa-linkedin"></i></li>
                    <li class="me-1 text-white "><i class="fa-solid fa-globe"></i></li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center g-3">
                <h3 class="text-white">ABOUT FREELANCER</h3>
                <p class="text-white freelance text-center">Freelance is a free to use, licensed Bootstrap theme created by Route </p>
            </div>
        </div>
        <div class="copy-right py-3 d-flex justify-content-center align-items-center">
            <p class="text-center text-white">Copyright © Your Website 2021</p>
        </div>
    </div>
</footer>
